In [1]:
import pandas as pd
import os

In [3]:
df=pd.read_csv(r"C:\Users\Adm\Documents\Data Analysis\Dataserts\Bike_buyers\bike_buyers.csv")

In [4]:
#Exploring first 5 rows in dataset
df.head(5)

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes

In [25]:
#checking the dimensions
df.shape

(1000, 13)

In [26]:
#Checking if any column as null/missing values
df.isnull().sum()

ID                   0
Marital Status       7
Gender              11
Income               6
Children             8
Education            0
Occupation           0
Home Owner           4
Cars                 9
Commute Distance     0
Region               0
Age                  8
Purchased Bike       0
dtype: int64

In [31]:
#dropping the rows containing null/missing values
df.dropna(inplace=True,axis=0)

In [32]:
#Checking if any column as null/missing values
df.isnull().sum()

ID                  0
Marital Status      0
Gender              0
Income              0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Purchased Bike      0
dtype: int64

In [33]:
#Checking the datatypes 
df.dtypes

ID                    int64
Marital Status       object
Gender               object
Income              float64
Children            float64
Education            object
Occupation           object
Home Owner           object
Cars                float64
Commute Distance     object
Region               object
Age                 float64
Purchased Bike       object
dtype: object

In [34]:
#Converting the datatypes of 'Cars' and 'Children' to int from float
df['Cars'] = df['Cars'].astype(int)
df['Children']=df['Children'].astype(int)

In [40]:
df[['Cars','Children']].dtypes

Cars        int32
Children    int32
dtype: object

In [44]:
#Checking the dimensions of the dataset
df.shape

(952, 13)

In [45]:
#Saving the file
df.to_csv("bike_buyers_cleaned.csv")